{% extends "layout.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}'">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Code Blogs</h1>
                            <span class="subheading">A Blog Store for Programmers</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                            We provide blogs written on latest technologies and upcoming features written by software enthusiasts around the world.
                        </p>
                        <p>
                            Feel free to contribute if you want!
                        </p>
                        <p>
                            If you have any questions, please contact us via the contact page!
                        </p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}